.posts {

    // .posts__block

    &__block {
    }

    // .posts__slider

    &__slider {
    }

    // .posts__create-post

    &__create-post {
    }
}
.create-post {

    // .create-post__button

    &__button {
    }

    // .create-post__link

    &__link {
        color: red;
        font-size: 34px;
        display: flex;
    }
}
.icon {
}
.creaite-post {

    // .creaite-post__form

    &__form {
    }

    // .creaite-post__ava

    &__ava {
    }

    // .creaite-post__area

    &__area {
    }

    // .creaite-post__footer

    &__footer {
    }

    // .creaite-post__video

    &__video {
    }

    // .creaite-post__photo

    &__photo {
    }

    // .creaite-post__activity

    &__activity {
    }
}
.icon-video {
}
.icon-photo {
}
.icon-activity {
}

.ti-more-alt {
}
.text-grey-900 {
}
.btn-round-md {
}
.bg-greylight {
}
.font-xss {
}

.card-body {
}
.p-0 {
}
.d-flex {
}
.feather-bookmark {
}
.text-grey-500 {
}
.me-3 {
}
.font-lg {
}
.fw-600 {
}
.font-xssss {
}
.mt-0 {
}
.me-4 {
}
.pointer {
}
.d-block {
}
.font-xsssss {
}
.fw-500 {
}
.mt-1 {
}
.lh-3 {
}
.mt-2 {
}
.feather-alert-circle {
}
.feather-alert-octagon {
}
.feather-lock {
}
.mb-0 {
}
