//^ Файл обнуляющих стилей
@import "./../AppStyle/nullstyle.scss";

//^ Файл миксинов
@import "./../AppStyle/mixin.scss";

//^ Файлы стилей страниц

//^ Подключение ширфтов

@import "./../AppStyle/fonts";

//^ Подключение иконок
@import "./../AppStyle/ico-moon-style";

body {
    font-family: Arial, Helvetica, sans-serif;

    @media (max-width: 767px) {
        &.lock {
            overflow: hidden; //^ убираем прокрутку когда меню выпало!!!!!!!!!
        }
    }
}

.wrapper {
    background-color: darkslategray;
}

.wrapper-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.conteiner{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}








.footer {
    grid-row: 3/4;
    height: 200px;
    width: 100%;


    &__body {
        min-height: 200px;
        padding: 50px;
        background-color: rgb(89, 122, 122);
        border-radius: 20px;
    }

    &__title {
        font-size: 30px;
        line-height: 130%;
        margin: 0px 0px 20px 0px;
        cursor: pointer;
        color: #fff;
    }
}
