//^ Файл обнуляющих стилей
@import "./../AppStyle/nullstyle.scss";

//^ Файл миксинов
@import "./../AppStyle/mixin.scss";

//^ Файлы стилей страниц

//^ Подключение ширфтов

@import "./../AppStyle/fonts";

//^ Подключение иконок
@import "./../AppStyle/ico-moon-style";

body {
    font-family: "Montserrat", sans-serif;
    color: #111;
    font-size: 14px;
    font-weight: 400;

    @media (max-width: 767px) {
        &.lock {
            overflow: hidden; //^ убираем прокрутку когда меню выпало!!!!!!!!!
        }
    }
}

.wrapper {
    background-color: #F4F5F7;
}

.wrapper-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.conteiner{
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
}


