

.contacts {

    // .{scss['contacts__item']}

    &__item {
        position: relative;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-color: transparent;
        padding-left: 0;
        padding-bottom: 0.5rem;
        padding-right: 0;
        padding-top: 0.5rem;
        align-items: center;
        border: 0;
        display: flex;
        color: #212529;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        &_active{
            position: relative;
            border-top-left-radius: inherit;
            border-top-right-radius: inherit;
            background-color: transparent;
            padding-left: 0;
            padding-bottom: 0.5rem;
            padding-right: 0;
            padding-top: 0.5rem;
            align-items: center;
            border: 0;
            display: flex;
            color: #212529;
            text-decoration: none;
            transition: all 0.3s ease 0s;
            h3 > span{
                color: #10d876;}
        }
    }


    // .{scss['contacts__avatar']}

    &__avatar {
        margin-bottom: 0;
        margin-right: 0.5rem;
        float: left;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            height: 100%;
            vertical-align: middle;
        }
    }

    // .{scss['contacts__name']}

    &__name {
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 0;
        // font-size: 1.125rem;
    }



    // .{scss['contacts__name-text']}

    &__name-text {
        margin-top: 3px;
        cursor: pointer;
        color: #343a40;
        display: block;
        font-size: 12px;
    }





    // .{scss['contacts__status']}

    &__status {
        font-size: 12px;
        color: #999;
        margin-top: 3px;
        background-color: #10d876;
        margin-left: auto;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        display: inline-block;
        line-height: 25px;
        text-align: center;
        transition: all 0.3s ease 0s;
    }
}


