.create-post {
    font-family: "Montserrat", sans-serif;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 100%;
    border: 0;


    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);

    // .create-post__button

    &__button {
        i{
            width: 35px;
            height: 35px;
            border-radius: 35px;
            display: inline-block;
            line-height: 35px !important;
            text-align: center;
            color: #1E74FD;
            background-color: #f5f5f5;
            font-size: 18px;
            margin-right: 8px;
        }
    }

    // .create-post__link

    &__link {
        color: #adb5bd;
        font-weight: 600 ;
        display: flex;
        font-size: 12px;
        line-height: 1.75;
        align-items: center;
    }

    // .create-post__form

    &__form {
        margin-top: 1rem;
        position: relative;
        flex: 1 1 auto;


    }

    // .create-post__ava

    &__ava {
        margin-left: 0.5rem;
        margin-top: 0.25rem;
        position: absolute;
        top: 3px;
        img{
            border-radius: 50%;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            width: 30px;
        }
    }

    // .create-post__area

    &__area {
        font-weight: 500;
        color: #adb5bd;
        padding: 0.5rem;
        padding-left: 3rem;
        width: 100%;
        border-radius: 15px;
        border: 2px #f1f1f1 solid;
        font-size: 12px;
        height: 100px;
        resize: vertical;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    // .create-post__footer

    &__footer {
        display: flex;
        flex: 1 1 auto;
        padding: 1rem 1rem;
        span{
            font-weight: 600;
            color: #495057;
            padding-right: 1.5rem;
            font-size: 12px;
            letter-spacing: 0.4px;
        }
        i{
            margin-right: 0.5rem;
            font-size: 22px;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            letter-spacing: 0.4px;
        }
    }

    // .create-post__video

    &__video {
        align-items: center;
        display: flex;
        i{
            color: #E50202;
        }
    }

    // .create-post__photo

    &__photo {
        align-items: center;
        display: flex;
        i{
            color: #10d876;
        }
    }

    // .create-post__activity

    &__activity {
        align-items: center;
        display: flex;
        i{
            color: #FE9431;
        }
    }
}



.dropdown-menu-botton{
    cursor: pointer;
    margin-left: auto;
    color: #212529;
    font-size: 16px;

    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: inline-block;
    line-height: 45px;
    text-align: center;
    background-color: #f5f5f5;

    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    i{
        color: #212529;
        font-size: 16px;
        width: 45px;
        height: 45px;
        border-radius: 45px;
        display: inline-block;
        line-height: 45px;
        text-align: center;

    }
}

.dropdown-menu {
    padding: 1.5rem !important;
    border: 0 !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    position: absolute;

    top: 100%;
    z-index: 1000;
    // display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #515184;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;

    border-radius: 15px !important;

    right: 0 !important;

    // .dropdown-menu__card

    &__item {
        display: flex !important;
        font-size: 1rem;
        color: #515184;
        text-align: left;
        list-style: none;
        i{
            color: #adb5bd !important;
            margin-right: 1rem !important;
            font-size: 25px !important;
        }
    }

    // .dropdown-menu__text

    &__title {
        font-weight: 600 !important;
        color: #212529 !important;
        cursor: pointer;
        margin-right: 1.5rem !important;
        font-size: 12px !important;
        margin-bottom: 0.5rem;
        line-height: 1.2;
    }

    // .dropdown-menu__block

    &__subtitle {
        font-weight: 500 !important;
        color: #adb5bd !important;
        margin-top: 0.25rem !important;
        display: block !important;
        font-size: 10px !important;
        line-height: 1.4;
    }
}





