.main {
    margin: 100px 0px 0px 0px;
    grid-row: 2/3;

    &__body {
        display: grid;
        grid-template-columns: auto 1fr auto;
    }
}

.posts {
    &__block {
        padding: 20px;
        color: wheat;
        font-size: 21px;
    }
    // .posts__title

    &__title {
    }

    // .posts__text

    &__text {
    }
}

.aside {
    min-height: calc(100vh - 350px);
    background-color: rgb(89, 122, 122);
    border-radius: 20px;
    width: 200px;

    &__block {
        padding: 20px;
        color: wheat;
        font-size: 21px;
    }
}
