.sidebar {
    min-height: calc(100vh - 350px);
    background-color: rgb(89, 122, 122);
    border-radius: 20px;
    width: 200px;
    // .sidebar__title

    &__block{
        padding: 20px;
    }

    &__menu{

    }
        // .sidebar__list

    &__list {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        li{
            padding: 10px 0px;
            position: relative;
        }


        li :hover {
            &::before{
                content: '';
                position: absolute;
                top: 10px;
                left: -30px;
                width: 20px;
                height: 20px;
                background: url('./image/many.webp') 0 0 / 100% no-repeat;
            }
            &::after{
                content: '';
                position: absolute;
                top: 10px;
                left: 110%;
                width: 20px;
                height: 20px;
                background: url('./image/many.webp') 0 0 / 100% no-repeat;
            }
        }
    }

        // .sidebar__link

    &__link {
        color: wheat;
        font-size: 21px;
    }


}


.posts {

    &__block{
        padding: 20px;
        color: wheat;
        font-size: 21px;
    }
    // .posts__title

    &__title {
    }

    // .posts__text

    &__text {
    }
}


.aside {
    min-height: calc(100vh - 350px);
    background-color: rgb(89, 122, 122);
    border-radius: 20px;
    width: 200px;

    &__block{
        padding: 20px;
        color: wheat;
        font-size: 21px;
    }

}