.content {
    flex-shrink: 0;
    width: 80%;
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 0px;
    margin: auto;
    &__body {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__namber-page{
        text-align: center;
        padding: 15px 0px;
        position: relative;
        max-width: 50vw;
        overflow: hidden;
    }
}





