.main-wrap {
	margin-top: 100px;

	opacity: 1;
	transition: all 0.25s ease-in;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.nav-header {
	display: flex;
	align-items: center;
	height: 96px;
	padding: 0 15px 0 0;
	background: #ffffff;
	background-color: rgb(255, 255, 255);
	border-bottom: 2px #eee solid;
	transition: left 0.25s;
	background-color: transparent;
	border: 0;
	box-shadow: none;

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	&__btn-login {
		width: 120px;
		font-weight: 500;
		background-color: #343a40;
		color: #fff;
		padding: 1rem;
		margin-left: auto;
		border-radius: 30px;
		line-height: 20px;
		text-align: center;
	}

	&__btn-register {
		width: 120px;
		background-color: #05f;
		color: #fff;
		padding: 1rem;
		margin-left: 20px;
		border-radius: 30px;
		line-height: 20px;
		text-align: center;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;

	&__wrapper {
		border-radius: 0.3rem;
		background-color: #fff;
		align-items: center;
		height: 75vh;
		display: flex;
		overflow: hidden;
		width: 100%;
		max-width: 100%;
	}
}

.card {
	min-width: 380px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: flex;
	flex-direction: column;

	&__body {
		flex: 1 1 auto;
		padding: 1rem 1rem;
		text-align: left;
	}

	&__title {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 1rem;
	}

}


