* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.main {
  margin: 100px 0px 0px 0px;
  grid-row: 2/3;
}
.main__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.sidebar {
  min-height: calc(100vh - 350px);
  background-color: #597a7a;
  border-radius: 20px;
  width: 200px;
}
.sidebar__block {
  padding: 20px;
}
.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar__list li {
  padding: 10px 0px;
  position: relative;
}
.sidebar__list li :hover::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -30px;
  width: 20px;
  height: 20px;
  background: url("./image/many.webp") 0 0/100% no-repeat;
}
.sidebar__list li :hover::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 110%;
  width: 20px;
  height: 20px;
  background: url("./image/many.webp") 0 0/100% no-repeat;
}
.sidebar__link {
  color: wheat;
  font-size: 21px;
}
.sidebar__link span {
  font-size: 16px;
  padding-right: 5px;
}

.posts__block {
  padding: 20px;
  color: wheat;
  font-size: 21px;
}
.aside {
  min-height: calc(100vh - 350px);
  background-color: #597a7a;
  border-radius: 20px;
  width: 200px;
}
.aside__block {
  padding: 20px;
  color: wheat;
  font-size: 21px;
}

@font-face {
  font-family: "icomoon";
  src: url("../public/fonts/icomoon.eot?e5kkn4");
  src: url("../public/fonts/icomoon.eot?e5kkn4#iefix") format("embedded-opentype"), url("../public/fonts/icomoon.ttf?e5kkn4") format("truetype"), url("../public/fonts/icomoon.woff?e5kkn4") format("woff"), url("../public/fonts/icomoon.woff") format("woff"), url("../public/fonts/icomoon.svg?e5kkn4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-queue_musictest:before {
  content: "\e900";
}

.icon-radiotest:before {
  content: "\e901";
}

.icon-video_librarytest:before {
  content: "\e902";
}

.icon-subscriptionstest:before {
  content: "\e903";
}

.icon-4ktest:before {
  content: "\e904";
}

.icon-clear_alltest:before {
  content: "\e905";
}

.icon-location_ontest:before {
  content: "\e906";
}

.icon-messagetest:before {
  content: "\e907";
}

.icon-mail_outlinetest:before {
  content: "\e908";
}

.icon-alternate_emailtest:before {
  content: "\e909";
}

.icon-scoretest:before {
  content: "\e90a";
}

.icon-crop_originaltest:before {
  content: "\e90b";
}

.icon-filter_nonetest:before {
  content: "\e90c";
}

.icon-tunetest:before {
  content: "\e90d";
}

.icon-wb_iridescenttest:before {
  content: "\e90e";
}

.icon-add_photo_alternatetest:before {
  content: "\e90f";
}

.icon-image_searchtest:before {
  content: "\e910";
}

.icon-local_convenience_storetest:before {
  content: "\e911";
}

.icon-local_floristtest:before {
  content: "\e912";
}

.icon-local_hospitaltest:before {
  content: "\e913";
}

.icon-rate_reviewtest:before {
  content: "\e914";
}

.icon-categorytest:before {
  content: "\e915";
}

.icon-appstest:before {
  content: "\e916";
}

.icon-canceltest:before {
  content: "\e917";
}

.icon-keyboard_controltest:before {
  content: "\e918";
}

.icon-more_verttest:before {
  content: "\e919";
}

.icon-arrow_back_iostest:before {
  content: "\e91a";
}

.icon-arrow_forward_iostest:before {
  content: "\e91b";
}

.icon-voice_chattest:before {
  content: "\e91c";
}

.icon-live_tvtest:before {
  content: "\e91d";
}

.icon-ondemand_videotest:before {
  content: "\e91e";
}

.icon-priority_hightest:before {
  content: "\e91f";
}

.icon-pie_chart_outlinedtest:before {
  content: "\e920";
}

.icon-bubble_charttest:before {
  content: "\e921";
}

.icon-show_charttest:before {
  content: "\e922";
}

.icon-notificationstest:before {
  content: "\e923";
}

.icon-notifications_nonetest:before {
  content: "\e924";
}

.icon-notifications_pausedtest:before {
  content: "\e925";
}

.icon-publictest:before {
  content: "\e926";
}

.icon-schooltest:before {
  content: "\e927";
}

.icon-sharetest:before {
  content: "\e928";
}

.icon-sentiment_neutraltest:before {
  content: "\e929";
}

.icon-sentiment_very_dissatisfiedtest:before {
  content: "\e92a";
}

.icon-sentiment_very_satisfiedtest:before {
  content: "\e92b";
}

.icon-thumb_down_alttest:before {
  content: "\e92c";
}

.icon-thumb_up_alttest:before {
  content: "\e92d";
}

.icon-check_boxtest:before {
  content: "\e92e";
}

.icon-check_box_outline_blanktest:before {
  content: "\e92f";
}

.icon-startest:before {
  content: "\e930";
}

.icon-star_outlinetest:before {
  content: "\e931";
}

.icon-account_boxtest:before {
  content: "\e932";
}

.icon-account_circletest:before {
  content: "\e933";
}

.icon-bookmark_outlinetest:before {
  content: "\e934";
}

.icon-cachedtest:before {
  content: "\e935";
}

.icon-deletetest:before {
  content: "\e936";
}

.icon-exit_to_apptest:before {
  content: "\e937";
}

.icon-facetest:before {
  content: "\e938";
}

.icon-favoritetest:before {
  content: "\e939";
}

.icon-favorite_outlinetest:before {
  content: "\e93a";
}

.icon-label_outlinetest:before {
  content: "\e93b";
}

.icon-languagetest:before {
  content: "\e93c";
}

.icon-perm_contact_calendartest:before {
  content: "\e93d";
}

.icon-perm_mediatest:before {
  content: "\e93e";
}

.icon-power_settings_newtest:before {
  content: "\e93f";
}

.icon-settingstest:before {
  content: "\e940";
}

.icon-fingerprinttest:before {
  content: "\e941";
}

.icon-delete_outlinetest:before {
  content: "\e942";
}

.icon-done_outlinetest:before {
  content: "\e943";
}

.icon-supervised_user_circletest:before {
  content: "\e944";
}

.icon-label_important_outlinetest:before {
  content: "\e945";
}

.icon-drive_file_rename_outlinetest:before {
  content: "\e946";
}

.icon-duotest:before {
  content: "\e947";
}

.icon-recommendtest:before {
  content: "\e948";
}

.icon-amp_storiestest:before {
  content: "\e949";
}

.icon-people_alttest:before {
  content: "\e94a";
}

.icon-housetest:before {
  content: "\e94b";
}

.icon-double_arrowtest:before {
  content: "\e94c";
}

.icon-bedtimetest:before {
  content: "\e94d";
}

.icon-location_pintest:before {
  content: "\e94e";
}

.icon-photo_camera_backtest:before {
  content: "\e94f";
}

.icon-photo_camera_fronttest:before {
  content: "\e950";
}

.icon-hometest:before {
  content: "\e951";
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

.wrapper {
  background-color: darkslategray;
}

.wrapper-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.conteiner {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  grid-row: 1/2;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;
  z-index: 2;
}
.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  -webkit-animation: coin 5s linear 0s infinite normal none;
          animation: coin 5s linear 0s infinite normal none;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
  display: none;
  z-index: 3;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:after {
    bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(315deg);
        -ms-transform: rotate(315deg);
            transform: rotate(315deg);
    top: 8px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-315deg);
        -ms-transform: rotate(-315deg);
            transform: rotate(-315deg);
    top: 9px;
  }
  .header__burger.active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 25px;
    overflow: auto;
    background-color: aqua;
    padding: 100px 0px 0px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__link {
    color: red;
  }
  .header__body {
    height: 50px;
  }
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin: 0px 0px 20px 50px;
  }
}

@-webkit-keyframes coin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes coin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
.footer {
  grid-row: 3/4;
  height: 200px;
  width: 100%;
}
.footer__body {
  min-height: 200px;
  padding: 50px;
  background-color: #597a7a;
  border-radius: 20px;
}
.footer__title {
  font-size: 30px;
  line-height: 130%;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  color: #fff;
}